<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    
    <Properties>
        <Property name="basePath">./logs</Property>
    </Properties>

    <Appenders>
        <RollingFile name="RollingFileAppender" fileName="${basePath}/NaukriAutomate.log"
            filePattern="${basePath}/app-%d{yyyy-MM-dd}-%i.log">
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <Layout type="PatternLayout">
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </Layout>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- Root Logger -->
        <Root level="info">
            <AppenderRef ref="RollingFileAppender"/>
        </Root>
    </Loggers>
    
</Configuration>
